{% extends 'app/base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 ">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3 class="text-success">Password Changed SeccessFully !!</h3>
    <img src="https://c.tenor.com/0C0yeXRRWikAAAAC/good-morning-kiss.gif" width="200" height="200">
  </div>
{% endblock main-content %}