{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <dv class="btn btn-info mb-3 text-white"><h5>FILTERS</h5></dv>
   <div class="list-group">
       <a href="{% url 'topwear' %}" class=" btn btn-outline-primary" aria-current="true">All Top Wears</a>
       <a href="{% url 'Topwear' 'above' %}" class="bt btn btn-outline-primary" aria-current="true">ABOVE 400</a>
       <a href="{% url 'Topwear' 'below' %}" class=" btn btn-outline-primary" aria-current="true">BELOW 400</a>
   </div>
  </div>

  <div class="col-sm-8 offset-sm-1">
   <div class="row">
    {% for  product in topwears %}
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %} " class="btn">
                <div class="item">
                    <img src="{{product.product_image.url}} " alt="" height='300' class=''>
                    <div class="fw-bold">{{product.tittle}} </div>
                    <div class="fw-bold">Rs. {{product.discounted_price}}  <small class="fw-light text-decoration-line-through"> Rs.{{product.selling_price}} </small></div>
                </div>
            </a>
        </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}